{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} GerlovinMusic {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block style %}  {% endblock %}
</head>
<body>

    <div class="header">
        <div class="header_peace">
            <img class="header_logo" src="{% static 'images/logo.svg' %}" alt="GerlovinMusic" >
            <a href="{% url 'index.index' %}" class="header_nav">Главная</a>
            <a href="{% url 'music.index' %}" class="header_nav">Песни</a>
            <a href="" class="header_nav">Стихи</a>
            <a href="" class="header_nav">Концерты</a>
        </div>
        <div class="header_peace second">
            <a href="" class="header_nav">О группе</a>
            <a href="#popup" class="header_nav">Связаться</a>
            <a href="" class="header_nav">RU</a>
        </div>
    </div>

    <div id="popup" href="#" class="popup">
        
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close">X</a>
               <div class=""><h5>Контакты:</h5></div>
               <p>Телефон: +972-53-4359565</p>
               <p>E-mail: gerlovin.music@gmail.com</p>
               <div class=""><h5>Здесь можно оставить контакты для связи:</h5></div>
                <form action="{% url 'index.message' %}" method="post">{% csrf_token %}
                    <div class="contact_form">
                        <div style="margin-right: 10px;" class="">
                            <p>Имя</p>
                            <p>Контакты</p>
                            <p>Обращение</p>
                        </div>
                        <div class="">{{ form.as_p }}</div>
                    </div>
                    <button class="pop_button" type="submit">Отправить</button>
                </form>
            </div>
        </div>

    </div>


    {% block content %}

    {% endblock %}

   
    <div class="footer"> 
        <div class="razd" style="width: 30%; margin: 5px auto;"></div>
        <div class="soc_links">
            <a href=""><img class="soc_img" src="{% static 'images/instagram.svg' %}" alt=""></a>
            <a href=""><img class="soc_img" src="{% static 'images/facebook.svg' %}" alt=""></a>
            <a href=""><img class="soc_img" src="{% static 'images/youtube.svg' %}" alt=""></a>
        </div>
        <div class=""><p>КОНТАКТЫ:</p></div>
        <div class="" style="padding-bottom: 7px;">По вопросам сотрудничества:</div>
        <div class="">По телефону: +972-53-4359565</div>
        <div class="footer_sp_btw" style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="email_footer">По электронной почте: gerlovin.music@gmail.com</div>
            <div class="grey_footer">© 2022 SergeyGerlovin Все права защищены.</div>
        </div>
        </div>
    </div>
</body>
</html>