body{
    margin: 0;
    font-family: Montserrat;
    font-style: Regular;
    background-color: #EBEBEB;
    max-width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}



.header{
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    background-color:rgba(36, 36, 36, 0.945);

    color: #fff;
}

.header_logo{
    position: relative;
    width: 70px;
    left: 0;
    top: 30px;
}

.header_nav{
    color: #fff;
    position: relative;
}

.header_nav:hover{
    color: rgba(232, 244, 255, 0.87);
}

.header_nav::after{
    display: block;
	position: absolute;
    width: 100%;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	opacity: 0;
	height: 1px; /*задаём ширину линии*/
	background-color: rgba(232, 244, 255, 0.87);
	content: "";
    transition: opacity .2s linear;
}

.header_nav:hover::after{
    opacity: 1;
}

.header_peace{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}
.second{
    width: 25%;
}



/*popup*/

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s linear;
    z-index: 10;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup_area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body{
    
    display: flex;
    justify-content: right;
    padding: 70px 10px;
}

.popup_content{
    z-index: 10;
    position: relative;
    background-color:  #fff9f9;;
    color: #000000;
    max-width: 30vw;
    padding: 30px 30px  30px 30px;
    border-radius: 7px;
}

.popup_close{
    color: #000000;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.popup_close:hover{
    color: #363636b9;
}

.contact_form{
    display: flex;
    flex-direction: row;
}




/* index */

.header_inner{
    position: relative;
    width: 100vw;
    height: 100vh;
}



.shade{
    background-color: #00000086;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header_row{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.header_row img{
    width: 25%;
    transition: 1s;
}

.header_row img:hover{
    transform: scale(1.2); 
}

.header_col{
    color: #fff;
    width: 30%;
}

.pop_button{
    justify-content: right;
    background-color: #202020;
    color: #fff;
    border-radius: 6px;
    width: 35%;
    height: 2em;
    transition: .3s;
}

.pop_button:hover{
    background-color: #20202075;
    color: rgba(219, 219, 219, 0.568);
}


/* second vlock (index) */

.row_block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.song_desc_index{
    width: 100%;
    padding: 10px;
    height: 54px;
    align-items: center;
}

.song_name_index{
    font-weight: 600;
}

.song_autor_index{
    line-height: 30px;
}

.songs_index{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border: 1px solid #000000;
    position: relative;
    background-color: #F1F3F4;
}

.back_white{
    z-index: 2;
    position: absolute;
    background-color: #F1F3F4;
    top: 0;
    right: 0;
    height: 100%;
    width: 83%;
    
}

.desc_all_index{
    padding: 20px;
}

.h_song_index{
    position: absolute;
    top: -70px;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    text-decoration: underline;
    padding-left: 10px;
}

.song{
    padding: 10px;
    width: 300px;
    background-color: #F1F3F4;
}

.song_text_index{
    position: relative;
    width: 40%;
    height: 300px;
}

.square{
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.one{
    background: #DCDADA;
    z-index: 1;
    top: 0px;
    right: 0px;
}

.two{
    border: 1px solid #000000;
    box-sizing: border-box;
    z-index: 2;
    top: 25px;
    right: 25px;
}

.three{
    background: #C4C4C4;
    z-index: 3;
    top: 50px;
    right: 50px;
}

.razd{
    display: block;
    width: 700px;
    height: 0px;
    border: 1px solid #6F787D;
    margin: 50px auto;
    
    
}

.h{
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    display: inline-block;
    border-bottom: 2px solid rgb(0, 0, 0);
    
}

.koncert_index{
    width: 30%;
    height:100%;
    

}
.concert_text_all_index{
    margin: 30px;
    position: relative;
}

.concert_text_index{
    padding: 10px;
}

.border_top_index{
    position: absolute;
    border-top: 1px solid rgb(0, 0, 0);
    width: 250px;
    left: -10px;
}

.border_left_index{
    position: absolute;
    border-left: 1px solid rgb(0, 0, 0);
    height: 250px;
    top: -10px;
}

.wrapper_index{
    height: 80vh;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:3fr 3fr 3fr ;
    
}


.wrapper_block_index{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.concert_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
    
}


.soc_links{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.grey_footer{
    color: #878787;
    font-weight: 400;
}

.footer{
    position: relative;
    z-index: 2;
    padding: 25px 20px 50px 20px;
    background: radial-gradient(100% 100% at 50.04% 0%, #9E9D9D 0%, rgba(211, 211, 211, 0.56) 100%);
    border-radius: 50px 50px 0 0 ;
    margin: 50px 90px 0 90px;
}

.player_open{
    background: Transparent;
    border: 0;     
    display: none; 
}
