@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.modal-content {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.message_form {
  color: #C4C4C4;
  background-color: #2E2E2E;
  border-radius: 20px;
}
.message_form input,
.message_form textarea {
  background-color: #2E2E2E;
  color: #C4C4C4;
  border-radius: 12px;
  width: 100%;
  outline: none;
  outline: 1px #fff;
}
.message_form input {
  height: 25px;
}
.message_form .h5 {
  color: #fff;
}
.message_form .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
}
.message_form .message_inputs {
  color: #C4C4C4;
  background-color: #2E2E2E;
  box-shadow: 5px 5px #2E2E2E !important;
}
.message_form .message_inputs:active, .message_form .message_inputs:hover, .message_form .message_inputs:focus {
  background-color: #2E2E2E;
  box-shadow: 5px 5px #2E2E2E !important;
}

#player {
  display: none !important;
  z-index: 10;
}

#player_overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9;
}

.player {
  position: fixed;
  top: 58px;
  right: 5px;
  background: radial-gradient(150% 150% at 50% 3.19%, #a7a7a7 0%, rgba(196, 196, 196, 0.884) 100%);
  border-radius: 15px;
  width: 250px;
  align-items: center;
  z-index: 11;
  /* both range slider part */
}
.player a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}
.player a:hover {
  opacity: 0.7;
}
.player .image_block {
  display: flex;
  align-items: center;
  height: 230px;
}
.player img {
  margin: 0 auto;
  border-radius: 30px;
  padding: 10px 0;
  max-height: 250px;
  min-width: 80%;
  max-width: 85%;
}
.player div {
  text-align: center;
}
.player .row {
  position: relative;
  width: 50%;
}
.player .row div {
  position: absolute;
  left: -40%;
  bottom: 6%;
  width: 40px;
}
.player .row button {
  padding: 0;
  border: none;
  background-color: rgba(230, 230, 250, 0);
  transition: all 0.2s linear;
}
.player .row button:hover {
  opacity: 0.6;
}
.player .row button img {
  width: 100%;
  border-radius: 0;
}
.player .row #volume_btn {
  width: 25px;
}
.player #volume {
  position: absolute;
  top: -25%;
  left: -10%;
  height: 3px;
  width: 50px;
  display: none;
  opacity: 0;
  transition: all 0.2s linear;
  transform: rotate(-90deg);
}
.player #artist {
  font-size: smaller;
}
.player #title {
  font-weight: 600;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  outline: none;
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: #686767;
  border-radius: 50%;
  cursor: pointer;
}

.h_bottom_border {
  display: inline-block;
  border-bottom: 1px solid black;
  font-size: 30px;
  font-weight: 550;
}

.razd {
  border-top: 1px solid #6F787D;
  max-width: 350px;
  margin: 50px auto;
}

.index_header .col-12 {
  position: relative;
  color: #fff;
}
.index_header .col-12 .notes {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover;
}
.index_header .col-12 .p-5 {
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .index_header .col-12 .p-5 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  .index_header .col-12 .p-5 div {
    width: 100%;
  }
}
.index_header .col-12 .p-5 .main_img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin: 50px 0;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 576px) {
  .index_header .col-12 .p-5 .main_img {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1500px) {
  .index_header .col-12 .p-5 .main_img {
    width: 80%;
    margin-left: 50px;
  }
}
.index_header .col-12 .p-5 .main_img:hover {
  transform: scale(1.1);
}
.index_header .index_shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.56);
  z-index: -1;
}

@media only screen and (max-width: 760px) {
  .index-songs-list {
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 24px 0 !important;
  }
  .index-songs-list .index-songs_block {
    margin-left: 30px;
    width: 80%;
  }
  .index-songs-list .grey_blocks {
    margin-top: 100px;
    width: 100%;
    margin-left: 15px;
  }
}

.index-songs_block {
  border: 1px black solid;
  height: 215px;
}
.index-songs_block .index-songs a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}
.index-songs_block .index-songs a:hover {
  opacity: 0.7;
}
.index-songs_block .index-songs button {
  width: 60px;
  height: 60px;
  position: relative;
  bottom: 7px;
  padding: 13px;
  border: none;
  background-color: rgba(230, 230, 250, 0);
  transition: all 0.2s linear;
}
.index-songs_block .index-songs button:hover {
  opacity: 0.6;
}
.index-songs_block .index-songs button img {
  width: 100%;
  border-radius: 0;
}
.index-songs_block .index-songs .text-uppercase {
  font-weight: bold;
}

.grey_blocks {
  position: relative;
}
@media only screen and (min-width: 770px) {
  .grey_blocks {
    left: -50px;
  }
}
.grey_blocks div {
  height: 100%;
  width: 100%;
}
.grey_blocks .first {
  background: #C4C4C4;
  z-index: 0;
  padding: 15px;
}
.grey_blocks .second {
  position: absolute;
  top: -25px;
  right: -25px;
  border: 1px solid black;
  z-index: -1;
}
.grey_blocks .third {
  position: absolute;
  top: -50px;
  right: -50px;
  background: #DCDADA;
  z-index: -2;
}

.index_concert_border_text {
  border-left: 1px solid black;
  padding-left: 15px;
  padding-top: 30px;
}

.index_concert_border {
  position: relative;
  top: 15px;
  left: -15px;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.concert_img_grid img {
  width: 105%;
  border-radius: 5px;
}

.index_concert_text {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .index_concert_block {
    flex-direction: column;
  }
  .index_concert_block .index_concert_text {
    position: static;
    margin: 20px 0;
  }
  .index_concert_block .concert_img_grid .row {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 768px) {
  .index_concert_block .concert_img_grid img {
    width: 120%;
  }
  .index_concert_block .concert_img_grid .row {
    margin: 10px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .index_concert_release_block iframe {
    height: 270px;
  }
}
@media only screen and (max-width: 992px) {
  .index_concert_release_block iframe {
    height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .index_concert_release_block {
    flex-direction: column;
  }
  .index_concert_release_block div, .index_concert_release_block iframe {
    width: 100%;
    margin-bottom: 15px;
  }
  .index_concert_release_block iframe {
    height: 237px !important;
  }
}
@media only screen and (max-width: 560px) {
  .index_concert_release_block iframe {
    height: 200px !important;
  }
}

.text_decoration {
  position: absolute;
  overflow: hidden;
  word-break: break-all;
  z-index: -2;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.1);
}

.text_decoration_shade {
  position: absolute;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0);
}

.playlists {
  position: relative;
  border: 1px solid black;
  background-color: #EBEBEB;
  border-radius: 90px;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  color: aliceblue;
}
.playlists div {
  color: aliceblue;
}
.playlists .playlists_shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 111, 119, 0.534);
  border-radius: 90px;
}
.playlists .col-md-5 {
  transition: all 0.2s linear;
}
@media only screen and (max-width: 768px) {
  .playlists .col-md-5 {
    width: 100% !important;
  }
}
.playlists .col-md-5 div {
  padding-top: 5px;
  text-align: center;
  font-size: 18px;
}
.playlists .col-md-5:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 768px) {
  .playlists .col-md-5 button {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    overflow: hidden;
  }
  .playlists .col-md-5 button div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.playlists .col-md-5 img {
  border-radius: 15px;
}
@media only screen and (max-width: 768px) {
  .playlists .col-md-6 {
    display: none;
  }
}
.playlists img {
  width: 85%;
}
.playlists .playlists_bigscreen {
  display: none;
}
@media only screen and (min-width: 992px) {
  .playlists .playlists_bigscreen {
    display: block;
  }
}
@media only screen and (max-width: 560px) {
  .playlists .music_playlist_item {
    padding: 0 20px !important;
  }
}

.song_list_music {
  border: 1px solid black;
  background-color: #EBEBEB;
  padding: 15px 0;
}
.song_list_music a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}
.song_list_music a:hover {
  opacity: 0.7;
}
.song_list_music .music_note_music {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.song_list_music .music_note_music img {
  width: 70%;
}
.song_list_music .col-1 {
  padding: 0;
}
.song_list_music .text-uppercase {
  font-weight: 700;
}
.song_list_music img {
  width: 100%;
}
.song_list_music button {
  width: 34px !important;
  padding: 0;
}
.song_list_music input {
  display: none;
}
.song_list_music #volume_btn {
  display: none;
}
.song_list_music .active_song_items {
  display: block !important;
  z-index: 10;
}
@media only screen and (min-width: 1200px) {
  .song_list_music {
    width: 85%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 992px) {
  .song_list_music .music_note_music {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .song_list_music .text-uppercase {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
  }
  .song_list_music .font-weight-bold {
    overflow: hidden;
    white-space: nowrap;
  }
}

.playlists {
  max-width: 750px;
}
.playlists img {
  max-height: 100%;
}
.playlists .pl_name {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .playlists {
    height: 204px;
  }
  .playlists .pl_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .playlists button {
    height: 144px;
  }
  .playlists .pl_name {
    max-width: 90%;
  }
  .playlists img {
    max-height: 104px;
  }
  .playlists .col-lg-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media only screen and (min-width: 992px) {
  .playlists {
    font-size: 23px;
    height: 230px;
  }
  .playlists .col-lg-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .playlists button {
    height: 175px;
  }
  .playlists .pla_name {
    width: 100%;
  }
  .playlists .pl_name {
    width: 100%;
    text-align: center;
  }
  .playlists img {
    max-height: 124px;
  }
}
@media only screen and (max-width: 768px) {
  .playlists {
    height: 140px;
  }
  .playlists .col-md-5 {
    display: flex;
    align-items: center;
  }
  .playlists .col-md-5 button {
    height: 100px;
    position: relative;
    top: -15px;
  }
  .playlists .col-md-5 button .pla_name {
    width: 60%;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .playlists .col-md-5 button .pl_name {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .playlists .col-md-5 button img {
    max-width: 100%;
    max-height: 100%;
  }
}
.play_btn_style {
  transition: all 0.2s linear;
}
.play_btn_style:hover {
  opacity: 0.6;
}

.song_show {
  display: block;
  margin: 0 auto;
}
.song_show a {
  transition: all 0.2s linear;
}
.song_show a:hover {
  color: black;
  opacity: 0.6;
}
.song_show .text-uppercase {
  font-weight: 600;
}

.playlist {
  color: #C4C4C4;
  background-color: #2E2E2E;
  border-radius: 20px;
  color: #fff;
}
.playlist a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s linear;
}
.playlist a:hover {
  opacity: 0.7;
}
.playlist img {
  width: 100%;
  border-radius: 15px;
  max-height: 400px;
}
.playlist .h_bottom_border {
  border-color: #fff;
}
.playlist .btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
}
.playlist .playlist_songlist_title {
  font-size: 24px;
}
.playlist .play_song {
  padding: 10px;
}
.playlist .play_song img {
  width: 30px;
  height: 30px;
}

body {
  font-family: "Playfair Display", serif;
  background: #E5E5E5;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: black;
}

.w-100 {
  width: 100%;
}

.navbar-brand {
  width: 40px;
}
.navbar-brand img {
  position: absolute;
  top: 15px;
  width: 60px;
}

.navbar-nav button {
  background: none;
  border: none;
}
@media only screen and (max-width: 576px) {
  .navbar-nav .main_nav {
    padding-top: 45px;
  }
}

#player_btn {
  display: flex;
  justify-content: center;
  width: 75px;
  height: 100%;
  background: none;
  border: none;
}
@media only screen and (max-width: 576px) {
  #player_btn {
    position: absolute;
    top: 7px;
    right: 75px;
  }
}
#player_btn img {
  height: 30px;
  position: absolute;
  transition: all 0.05s;
}
#player_btn img:hover {
  transform: scale(1.1);
}

.social {
  border-top: 1px solid black;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.social div {
  display: inline-block;
  margin: 0 auto;
}

.footer {
  background: radial-gradient(126.07% 126.07% at 50% 114.59%, rgba(81, 81, 81, 0.7) 0%, rgba(235, 235, 235, 0) 100%);
  padding-bottom: 70px;
}
.footer p {
  font-weight: 600;
}

.play_song {
  z-index: 10;
}