{% extends 'base.html' %}
{% load static %}

{% block title %} GerlovinMusic {% endblock %}

{% block content %}

<div class="index_header container-fluid p-0">
    <div class="col-12">
        <div class="d-flex justify-content-around p-5">
            <div class="col-4">
                <img class="main_img" src="{% static 'img/artist/main.jpg' %}">
            </div>
            <div class="col-4 mt-sm-4">
                <div class="h5">Сергей Герловин</div>
                <div class="">In pretium vitae quam felis, sed dolor, duis vel urna. Morbi semper platea risus id
                    aliquet diam turpis mi, id. Nisl, at varius orci vel malesuada quis praesent phasellus tincidunt.
                    Amet placerat vulputate leo et dapibus tellus id nunc faucibus. Augue tellus massa vitae urna.</div>
            </div>
            <img class="notes" src="{% static 'img/notes.jpg' %}">
            <div class="index_shade"></div>
        </div>
    </div>
</div>

<div class="container py-3 ">
    <div class="h_bottom_border">Песни</div>
    <div class="d-flex justify-content-between my-5 index-songs-list">
        <div class="col-4 col-xl-3 my-2 py-3 index-songs_block">
            {% for song in songs %}
            <div class="index-songs d-flex justify-content-around">
                <button onclick="song_opener(this)" name="song_{{ song.id }}" class="play_song mx-1" id="play"><img name="song_{{ song.id }}" src="{% static 'img/icons/play.png' %}"
                        alt=""></button>
                <div class="col-8">
                    <a href="{% url 'music.show' song.id %}" class="text-uppercase">{{ song.name }}</a>
                    <div class="font-weight-bold">Sergei Gerlovin</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="grey_blocks col-6">
            <div class="first">Felis nulla dictumst sed vel nisl, tellus hac consectetur vel. Urna, viverra mauris neque
                lorem diam sed bibendum convallis. Leo in lorem morbi diam, ante eget consectetur imperdiet feugiat.
                Quisque at erat odio ut. At sed bibendum volutpat aliquam vivamus integer. Phasellus vulputate blandit
                nec lacus tristique aenean. Viverra rhoncus purus arcu sed dignissim cras enim id pharetra. Nulla sed ut
                molestie vulputate non. Arcu aliquet elementum ipsum condimentum semper velit feugiat. Amet dictumst
                amet sagittis, amet id felis.</div>
            <div class="second"></div>
            <div class="third"></div>
        </div>
    </div>

    <div class="razd"></div>

    <div class="index_concert_block d-flex justify-content-between">
        <div class="col-xl-3" style="position: relative;">
            <div class="h_bottom_border" style="margin-left: 15px">Фотографии</div><br>
            <div class="h_bottom_border">с концертов</div>
            <div class="index_concert_text">
                <div>
                    <div class="index_concert_border"></div>
                    <div class="index_concert_border_text">Nisi, ac massa tincidunt enim congue neque nascetur. Amet,
                        etiam nibh est eros eu aliquam. Facilisis in odio fermentum, habitasse at mattis nam
                        scelerisque. Sit consectetur ut ut tristique vulputate quis nisi, lacus. Nunc cras feugiat netus
                        leo nisi, ornare. Id pretium purus in nulla sed pharetra. Ultrices aliquet urna pharetra tempus
                        feugiat etiam consequat diam sit. Nunc porttitor libero lectus diam interdum amet dui. Euismod
                        vel velit congue sed. Leo tristique tempus tellus dolor, at.</div>
                </div>
            </div>
        </div>
        <div class="concert_img_grid col-xl-9 ">
            <div class="row my-3 justify-content-end">
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
            </div>
            <div class="row my-3 justify-content-end">
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
            </div>
            <div class="row my-3 justify-content-end">
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
                <div class="col-2"><img src="{% static 'img/artist/IMG_1820.JPG' %}"></div>
            </div>
        </div>
    </div>

    <div class="razd"></div>
    <div class="h_bottom_border" style="margin-bottom: 30px;">Концерты</div>
    <div class="px-5">
        <div style="font-size: 23px; font-weight: 550;">concert in tel-aviv</div>
        <div>rotshil street, 35/2</div>
        <div class="index_concert_release_block row justify-content-around py-3">
            <div class="col-lg-9 col-7">
                <iframe width="80%" height="340" src="https://www.youtube.com/embed/8inQXjgmJuE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-5">
                <div class="index_concert_releaze">
                    <p>концерт в..............</p>
                    <p>дата: 30.07.2020</p>
                    <p>Песни: </p>
                    <p>1. Название песни</p>
                    <p>2. Название песни</p>
                    <p>3. Название песни</p>
                    <p>4. Название песни</p>
                    <p>5. Название песни</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}