{% extends 'base.html' %}
{% load static %}

{% block title %} GerlovinMusic {% endblock %}

{% block content %}

{% include 'components/text_background.html' %}

<div class="container container-height py-5">
    <div class="h_bottom_border my-5">Стихи</div>
    <div class="poetry-list row justify-content-between verse_list">
        {% for verse in verses %}
        <a href="{% url 'verse.show' verse.id %}" class="col-12 col-sm-5 my-3">
            <div href="{% url 'verse.show' verse.id %}">{{ verse.name }}</div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}