{% extends 'base.html' %}
{% load static %}

{% block title %} GerlovinMusic {% endblock %}

{% block content %}

{% include 'components/text_background.html' %}

<div class="container py-5">
    <div class="h_bottom_border my-5">О группе</div>
    <div class="row my-3">
        <div class="col-5">
            <div class="">Eget ipsum accumsan etiam ac quis. Nisl, sed neque, amet volutpat sed mattis.</div>
            <div class="">{{ text_list.0.text|safe }}</div>
        </div>
        <div class="col-7">
            <img class="w-100" src="{% static 'img/artist/4.jpg' %}" alt="">
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-3">
            <div class="col-12">20 лет</div>
            <div class="col-12">В музыкальной индрустрии</div>
        </div>
        <div class="col-3">
            <div class="col-12">Более 30</div>
            <div class="col-12">Концертов успешно проведено</div>
        </div>
        <div class="col-3">
            <div class="col-12">9 наград</div>
            <div class="col-12">Получено в ходе выступлений</div>
        </div>
    </div>

    <div class="razd"></div>

    <div class="row">
        <div class="col-2" style="transform: rotate(-90deg)">Наша история</div>
        <div class="col-6">
            <div class="col-7"><img class="w-100" src="{% static '\img\artist\IMG_2331.JPG' %}" alt=""></div>
            <div class="col-5"><img class="w-100" src="{% static '\img\artist\IMG_1875.JPG' %}" alt=""></div>
        </div>
        <div class="col-4">
            <div class="col-12">{{ text_list.1.text|safe }}</div>
            <div class="col-12">{{ text_list.2.text|safe }}</div>
        </div>
    </div>

    <div class="razd"></div>

    <div class="row">
        <div class="col-5">
            <div class="">Наша команда</div>
            <div class="">{{ text_list.3.text|safe }}</div>
        </div>
        <div class="col-7">
            <div class=""></div>
            <div class=""></div>
            <div class="col-8"><img class="w-100" src="{% static '\img\artist\IMG_1928.JPG' %}" alt=""></div>
        </div>
    </div>

    <div class="razd"></div>

    <div class="row">
        <div class="col-4"><img class="w-100" src="{% static '\img\artist\IMG_1657.JPG' %}" alt=""></div>
        <div class="col-4">{{ text_list.4.text|safe }}</div>
        <div class="col-3"><img class="w-100" src="{% static '\img\artist\IMG_1684.JPG' %}" alt=""></div>
        <div class="col-1" style="transform: rotate(90deg)">Наша цель</div>
    </div>
</div>



{% endblock %}