#player {
    z-index: 10;
}
#player_overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.player {
    position: absolute;
    top: 58px;
    right: 5px;
    background: radial-gradient(150% 150% at 50% 3.19%, #a7a7a7 0%, rgba(196, 196, 196, 0.884) 100%);
    border-radius: 15px;
    width: 250px;
    align-items: center;

    .image_block{
        display: flex;
        align-items: center;
        height: 230px;
    }
    img {
        margin: 0 auto;
        border-radius: 30px;
        padding: 10px 0;
        max-height: 250px;
        min-width: 80%;
        max-width: 85%;
    }

    div {
        text-align: center;
    }

    .row {
        position: relative;
        width: 50%;

        div {
            position: absolute;
            left: -40%;
            bottom: 6%;
            width: 40px;
        }

        button {
            padding: 0;
            border: none;
            background-color: rgba(230, 230, 250, 0);
            transition: all .2s linear;

            &:hover {
                opacity: 0.6;
            }

            img {
                width: 100%;

                border-radius: 0;
            }
        }

        #volume_btn {
            width: 25px;



        }
    }



    /* both range slider part */
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        outline: none;
        height: 2px;

    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        background: #686767;
        border-radius: 50%;
        cursor: pointer;
    }

    #volume {
        position: absolute;
        top: -25%;
        left: -10%;
        height: 3px;
        width: 50px;
        display: none;
        opacity: 0;
        transition: all .2s linear;
        transform: rotate(-90deg);
    }

    #artist {
        font-size: smaller;
    }

    #title {
        font-weight: 600;
    }
}