@mixin ellip($strings) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $strings;
    -webkit-box-orient: vertical;
}

.press_release {


    .block {
        min-height: 400px;
        justify-content: center;
    }

    .main {
        height: 400px;
        position: relative;

        .bold {
            position: relative;
            top: 30px;
        }

        img {
            object-fit: cover;
            height: 400px;
        }
    }

    .bold {
        font-weight: 600;
    }

    .fxl {
        font-size: x-large;
    }

    .fxxl {
        font-size: xx-large;
    }

    .tac {
        text-align: center;
    }

    .white_shadow_bg {
        background-color: rgba(255, 255, 255, 0.075);
    }

    .white_border {
        padding: 50px;
        background-color: white;
        text-align: justify;

        position: absolute;
        width: 50%;
        bottom: 0;
        left: 0;

        div {
            border: 1px solid black;
            padding: 5px 15px;
        }
    }

    .white_bg_border {
        background-color: white;
        border: 1px solid black;
        width: 80%;
        padding: 30px 50px;
        text-align: justify;

    }

    .simple-text {
        position: absolute;
        left: 10%;
        bottom: 10px;
        width: 80%;
        text-align: justify;
    }

    .our_history {
        img {
            height: 100%;
            object-fit: cover;
        }

        .white_bg_border {
            position: absolute;
            top: 10px;
            left: 10%;
            text-align: justify;
        }

    }

    .our_team {
        .zone {
            position: relative;
        }

        img {
            z-index: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80%;
        }

        .sq-1 {
            z-index: -1;
            background: rgba(196, 196, 196, 0.5);
            border: 0.687743px solid rgba(0, 0, 0, 0.25);

            position: absolute;
            top: 20%;
            right: 10%;
            height: 70%;
        }

        .sq-2 {
            z-index: -2;
            background: rgba(196, 196, 196, 0.4);
            border: 0.687743px solid rgba(0, 0, 0, 0.25);

            position: absolute;
            top: 15%;
            left: 20%;
            height: 70%;
        }
    }

    .our_mission {
        img {
            height: 100%;
            object-fit: cover;
        }

        .text {
            position: relative;
            display: flex;
            align-items: center;


            .bg_wt {
                position: absolute;
                width: 150%;
                top: 0;
                left: -25%;
                bottom: 0;
                right: 0;
                padding: 50px;
                margin: auto;
                background-color: white;

                height: 70%;


                display: flex;
                align-items: center;
                justify-content: center;

                .inside_text {
                    position: relative;
                    padding: 10px;
                    text-align: justify;
                }



                .border_top {
                    border-top: 1px solid black;
                    width: 80px;
                    position: absolute;
                    top: 0;
                    left: -5px;
                }

                .border_bottom {
                    border-bottom: 1px solid black;
                    width: 80px;
                    position: absolute;
                    bottom: 0;
                    right: -5px;
                }

                .border_right {
                    border-right: 1px solid black;
                    height: 80px;
                    position: absolute;
                    bottom: -5px;
                    right: 0;

                }

                .border_left {
                    border-left: 1px solid black;
                    height: 80px;
                    position: absolute;

                    top: -5px;
                    left: 0;
                }


            }
        }
    }

    @media only screen and (max-width: 1400px) {
        .main {
            .bold {
                top: 5px;
            }
        }

        .simple-text {
            position: relative;
            bottom: -10px;
            left: 10px;
        }

        .our_history {
            .white_bg_border {
                position: static;
            }
        }

        .our_team {
            img {
                bottom: 33px !important
            }

            .sq-1 {
                top: 20%;
                height: 50%;
            }

            .sq-2 {
                top: 25%;
                height: 50%;
            }
        }

    }

    @media only screen and (max-width: 1200px) {
        .our_team {
            img {
                position: relative;
                bottom: 0 !important;
                left: 30%;
            }

            .sq-1 {
                top: 15%;
                left: 30%;
            }

            .sq-2 {
                top: 28%;
            }
        }

        .bg_wt {
            height: 80% !important;
        }

    }

    @media only screen and (max-width: 992px) {
        .main {
            height: inherit;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: inherit;
            position: relative;
            --bs-gutter-x: 0 !important;
            width: 100%;

            .white_border {
                margin-top: 15px;
                position: relative;
                width: 100%;
                padding: 10px;
            }

            .bold {
                text-align: center;
            }

            .col-lg-4 {
                padding: 0 20px;
            }

            .col-lg-8 {
                padding: 0 30px 30px 30px;
            }

        }

        .simple-text {
            bottom: -20px;
            left: 55px;
        }

        .our_team {
            img {
                display: block;
                position: static;
                margin-top: 20px;
                left: 30%;
                width: 80%;
                margin: 0 auto;
            }

            .sq-1 {
                top: 0;
                left: 25%;
                height: 75%;
            }

            .sq-2 {
                top: 10%;
                height: 75%;
            }
        }

        .our_mission {
            position: relative;

            .inv_img {
                display: none;
            }

            .fxxl {
                position: absolute;
                right: -30px;
                top: 0;
                height: 100%;
            }

            .bg_wt{
                left: -50% !important;
            }


        }

        .our_history{
            .simple-text{
            left: 0;
            text-align: center;
            }
        }

        .white_bg_border{
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .history_imgs {
            div {
                padding: 10px;
            }
            --bs-gutter-x: 0 !important;
        }

        .white_bg_border {
            width: 100%;
            padding: 25px 35px;
            p{
                margin: 0 !important;
            }
            
        }
        .our_history{
            .row{
                --bs-gutter-x: 0 !important;
            }

            .simple-text{
                position: static;
                padding: 30px;
                width: 100%;
            }


           
        }
        .outside_margin{
            padding: 0 15px;
        }
        .our_team {
            .zone{
                --bs-gutter-x: 0rem;
            }
            .col-12{
                padding: 15px;
            }
                img{
                    width: 100% !important;
                    position: static;
                    display: block;
                    margin: 0 auto;
                }

           
        }

        .team-title{
            margin: 0 !important;
            padding: 30px 0 0 0 !important;

        }

        .our_mission {
            flex-direction: column-reverse;
            .bg_wt{
                position: static !important;
                padding: 30px !important;
                p{
                    margin: 10px !important;
                }
            }

            .text{
                padding: 20px;
            }
            img{
                border-radius: 15px 100px;
                
            }

            .our-mission-static-img{
                padding: 15px 40px;
            }
          
        }

        .fxxl {
            position: static !important;
            writing-mode: initial !important;
            transform: rotate(0deg) !important;
            padding: 0 0 15px 0 !important;
            text-align: center
        }

        .sq-1, .sq-2{
            display: none;
        }

        .press-razd-1{
            margin-bottom: 25px !important;
        }

        .press-razd-2{
            margin: 0 auto 25px !important;
        }

        .press-razd-3{
            margin: 28px auto !important;
        }
    }

    @media only screen and (max-width: 576px) {
      

        .white_border {
            width: calc(100% + 64px) !important;
            position: relative;
            left: -32px;
            padding: 30px !important;
        }
    }
}